@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Quicksand&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.font-overpass {
    font-family: 'Overpass', sans-serif;
}

.bg-first {
    background-image: url(/img/background/Group.png);
    background-repeat: no-repeat;

}

.section-title {
    @apply text-5xl font-semibold pl-36 font-overpass
}



.card {
    @apply px-6 pt-11 pb-4 border-2 border-black flex flex-col space-y-3
}

.card__title {
    @apply text-xl font-bold h-1/5
}

.card__link {
    @apply h-1/5 text-xl font-overpass font-semibold text-[#00437B] pt-3 pr-2 hover:text-[#00547b]
}